*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    font-family:system-ui,Helvetica,Arial,sans-serif
}

#container{
    width:90%;
    max-width:700px;
    margin:4rem auto
}
nav{
    margin:1rem 0 3rem
}

nav li{
    list-style:none;
    display:inline-block;
    margin:0
}

nav a{
    margin-right:1rem
}

h1,h2,h3{
    color:#333;
    font-family:system-ui,Helvetica,Arial,sans-serif;
    line-height:1.2
}
    
h1{
    font-size:3.5rem;
    margin-top:1rem
}

.global-title{
    font-size:3rem;
    color:#222
}

h2{
    font-size:1.8rem
}

h3{
    font-size:1.3rem
}

h2,h3{
    margin:2rem 0 1rem
}

b{
    font-family: 'PT Mono', monospace;
    color: var(--font-color);
    font-size: 1rem;
}

p,li{
    font-size:1rem;
    line-height:150%;color:#444;
    margin:1.25rem 0
}

li{
    margin:0.25rem 0 0 2.5rem}
    
    li:first-child{margin-top:0}
    
a{
    color:rgb(51, 60, 61)
}

a:hover,a:active{color:rgb(80, 197, 218)}pre,

.pic{
    widows:14rem;
    height:14rem;
    border-radius:10rem;
    margin-right:1.5rem
}

.button {
    background-color: rgb(240, 183, 166);
    /* background-color: #ddd; */
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 18px;
}


.socials {
    margin: 4rem 4rem 0 4rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    font-size: 2rem;
}

mark {
    background-color: #f3d773;
    color: black;
}

#footer {
    background-color: #E8E8E8;
    padding: 1px;
    padding-left: 30px;
    text-align:left;
  
  }

