section:not(.landing):not(.intro) {
    padding-top: 50px;
  }
  
  a {
    text-decoration: none;
    font-weight: 300;
  }
  
  .landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  nav{
    margin:1rem 0 3rem
}

nav li{
    list-style:none;
    display:inline-block;
    margin:0
}

nav a{
    margin-right:1rem
}
  
  .headline {
    text-align: center;
    font-size: 80px;
  }
  
  .tagline {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}


  
.pointer {
font-size: 30px;
position: absolute;
bottom: 10px;
animation: pulse-animation 1s linear infinite;
cursor: pointer;
}

.pointer > a {
text-decoration: none;
color: #111111;
}

.intro {
/* height: 600px; */
display: flex;
}

.heading {
font-weight: 100;
font-style: normal;
/* text-transform: uppercase; */
}

.contact {
padding-bottom: 50px;
}


footer {
text-align: center;
}

@media screen and (max-width: 787px) {
.headline {
    font-size: 75px;
}
}

@media screen and (max-width: 757px) {
.headline {
    font-size: 50px;
}
}

