*{
    margin:0;
    padding:0;
    box-sizing:border-box
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

}

#container{
    width:90%;
    max-width:700px;
    margin:4rem auto;
    text-decoration: none;
    
}
nav{
    margin:1rem 0 3rem
}

nav li{
    list-style:none;
    display:inline-block;
    margin:0
}

nav a{
    margin-right:1rem
}

h1,h2,h3{
    color:#333;
    font-family: 'Work Sans', sans-serif;
    line-height:1.2;
    font-weight: 650;
}
    
h1{
    font-size:3.5rem;
    margin-top:1.2rem;
    font-weight: 600;
}

.global-title{
    font-size:3rem;
    color:#222
}

h2{
    font-size:1.9rem
}

h3{
    font-size:1.4rem
}

h2,h3{
    margin:2rem 0 1rem
}

b{
    /* font-family: 'PT Mono', monospace; */
    font-family: 'Work Sans', sans-serif;
    color: var(--font-color);
    font-size: 1rem;
}

p,li{
    font-size:1rem;
    line-height:150%;color:#444;
    margin:1.25rem 0
}

li{
    margin:0.25rem 0 0 2.5rem}
    
    li:first-child{margin-top:0}
    
a{
    color:rgb(51, 60, 61)
}


a:hover,a:active{color:#86aec4}pre,


.pic{
    widows:14rem;
    height:14rem;
    border-radius:10rem;
    margin-right:1.5rem
}

.button {
    /* background-color: rgb(240, 183, 166); */
    background-color: #f3d250;
    /* background-color: #ddd; */
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    /* cursor: pointer; */
    border-radius: 18px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
}


.socials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

mark {
    background-color: #f3d773;
    color: black;
}

#footer {
    background-color: #E8E8E8;
    padding: 1px;
    padding-left: 30px;
    text-align:left;
  }
